
.box{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
}
.massage-container{
    background-color:#fff !important;
}
.message-item .message-item-content{
    background-color:rgb(204, 230, 231) !important;
}
.chat-input-wrapper{
    // display: none
}