* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    box-sizing: border-box;
    section {
        width: 100%;
        height: 100%;
        flex: 1;
        overflow-y: auto;
        background: rgb(243, 243, 243);
        .lwqsectiontop {
            height: 100px;
            background: #fff;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            dt {
                width: 50px;
                height: 45px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            dd {
                width: 100%;
                height: 100%;
                margin-left: 15px;
                padding-top: 5%;
                line-height: 40%;
                .lwqname {
                    width: 200px;
                }
                .lwqvotetabinfo {
                    display: flex;
                    justify-content: flex-end;
                }
                h4 {
                    margin-top: 10px;
                }
            }
        }
        .lwqsectioncenter {
            height: 300px;
            padding: 15px;
            background: #fff;
        }
        button {
            margin-left: 42%;
            margin-top: 15%;
        }
    }
}