// @import "../../scss/_minix.scss";
// @import "../../scss/common.scss";

.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.box_top{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    // @include sizing;
    flex-shrink: 0;
    .box_topicon{
        width: 38px;
        height: 38px;
        font-size: 25px;
        color: rgba(56, 56, 56, 1);
    }
    h3{
        width: 72px;
        height: 27px;
        color: rgba(80, 80, 80, 1);
        font-size: 18px;
    }
    span{
        width: 38px;
        height: 38px;
    }
    
}
.box_section{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .box_section_top{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        // @include sizing;
        flex-shrink: 0;
        .box_section_topxj{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 10px;
            flex-shrink: 0;
            // @include sizing;
            h3{
                color: rgba(0, 0, 0, 1);
                font-size: 16px;
            }
            span{
                display: inline-block;
                color: rgba(28, 30, 122, 1);
                font-size: 16px;
            }
        }
        dl{
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            border-bottom:1px solid #ccc;
            dt{
                width: 42px;
                height: 42px;
                overflow: hidden;
                border-radius: 50%;
                margin:0 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            dd{
                flex: 1;
                h3{
                    color: rgba(0, 0, 0, 1);
                    font-size: 14px;
                    font-weight: bold;
                }
                span{
                    width: 225px;
                    height: 24px;
                    left: 88px;
                    top: 158px;
                    color: rgba(80, 80, 80, 1);
                    font-size: 16px;
                    line-height: 150%;
                    text-align: left;
                }
            }
        }
    }                   
    
    .box_section_list{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .box_section_listtop{
        margin:8px auto;
        display: flex;
        justify-content: center;
        width: 280px;
        height: 30px;
        color:rgba(255, 87, 51, 1);
        border-radius: 8px;
        li{
            flex: 1;
            text-align: center;
            line-height: 30px;
            border:1px solid rgba(255, 87, 51, 1);
        }
        .active{
            flex: 1; 
            background: rgba(255, 87, 51, 1);
            color:#fff;
        }
        }
        .box_section_lists{
            flex: 1;
        }
    }
}
.box_footer{
	height: 40px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: rgba(128, 128, 128, 1) solid 1px;
    font-size: 14px;
    >input{
        width: 100%;
        height: 100%;
        border:1px solid #ccc;
        text-align:center; 
        vertical-align:middel;
    }
}